* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
.img-res {
	width: 100%;
	height: auto;
}
.fixed {
	position: absolute;
	z-index: 1;
	left: 5%;
	top: 5%;
}
.flex-between {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.w-90 {
	width: 90%;
}
.w-60 {
	width: 60%;
	margin: 0 auto;
}
.showcase {
	background-color: rgba(0, 0, 0, 0.5);
	position: relative;
	top: 0;
	left: 0;
	width: 100%;
	min-height: 100vh;
}
.banner1 {
	background: url('./Image/banner-02.jpg') center center/cover;
	min-height: 100vh;
}
.banner2 {
	background: url('./Image/banner-03.jpg') center center/cover;
	min-height: 100vh;
}
.banner3 {
	background: url('./Image/banner-01.jpg') center center/cover;
	min-height: 100vh;
}
.cl-o {
	/* background: ; */
	background-color: rgba(255, 145, 0, 0.6);
	width: 100%;
	min-height: auto;
}
.panel {
	background: url('./Image/banner-02.jpg') no-repeat center center/cover;
	background-attachment: fixed;
	position: relative;
}
.panel .row {
	position: relative;
	top: 100%;
}
.bg-o {
	background-color: rgb(255, 145, 0);
	width: 100%;
}
.p-relative {
	position: relative;
	top: 15rem;
	left: 15%;
}
.zoom {
	transition: 0.2s ease-in;
	cursor: pointer;
}
.zoom:hover {
	transform: scale(1.1);
}
